* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    background: url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/ball3.png') no-repeat, url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/20percent-1.gif') 20% top no-repeat, url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/ball3.png') 100% 0 no-repeat, url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/ball3.png') 0 100% no-repeat, url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/200px-1.gif') right bottom no-repeat, url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/20percent-1.gif') 20% bottom no-repeat, url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/ball3.png') 100% 100% no-repeat, url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/200px-line.gif') right top repeat-y, url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/2colors-1.gif') 20% top
}

.wrap20 {
    float: left;
    width: 20%
}

.wrap200 {
    float: right;
    width: 200px;
    background: url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/ball3.png') no-repeat
}

.content {
    margin-left: 20%;
    margin-right: 200px;
    background: url('/IT-Academy-Task/HTML CSS 5/additional/ball12/img/ball3.png') no-repeat 100% 0
}