* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header  */

header,
footer {
    background: rgb(30, 184, 245);
}

header h2,
footer h2 {
    color: blue;
    font-size: 32px;
    text-align: center;
    padding: 6px 0 6px 0;
    text-transform: uppercase;
}


/* wrap content  */

.wrap {
    display: flex;
}


/* nav  */

.wrap nav span {
    display: block;
    margin: 10px;
    font-weight: bolder;
}

.wrap nav {
    padding: 10px 20px;
    background: darkorange;
}

.wrap nav ul {
    width: 200px;
}


/* content  */

section.content h3 {
    margin-top: 12px;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
}

section.content img {
    float: left;
    margin: 20px 20px 0 20px;
}

section.content span.content_disrc {
    display: block;
    margin: 20px;
}

@media all and (max-width: 676px) {
    header,
    footer {
        display: none;
    }
    .wrap {
        flex-direction: column-reverse;
    }
    .wrap nav {
        background: none;
    }
    .wrap nav ul {
        width: 100%;
    }
    .wrap nav ul li {
        display: inline-block;
    }
    section.content img {
        float: none;
        margin: 0 auto;
        display: block;
    }
}