<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Pavanam&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
    <title>ALPINA</title>
</head>

<body>
    <!-- header box -->

    <header class="header">

        <div class="header-wrap">
            <a href="#" class="header-logo"><img src="image/logo.png" alt="Alpine logo"></a>
            <nav class="header-menu paytone-one">
                <ul>
                    <li><a class="hover" href="#">ABOUT US</a></li>
                    <li><a class="hover" href="#">PRICING</a></li>
                    <li><a class="hover" href="#">MOBILE</a></li>
                    <li><a class="hover" href="#">BLOG</a></li>
                </ul>
            </nav>
        </div>

        <div class="content-wrap">
            <div class="header-info">
                <h1>ALPINE</h1>
                <h3>SOCIAL MEDIA MARKETING PLATFORM</h3>
                <p>The core systems of record for marketing that provide a common way of orchestring the experiences across channels and applications, including operational managment and measurement, with the ultimate goal of driving customer engagement.</p>
                <!-- form email -->
                <form class="header-form" action="#">
                    <label class="header-email" for="">
                        <input class="btn pavanam" type="email" placeholder="Enter your work email !">
                    </label>
                    <input class="submit btn pavanam" type="submit" value="Request acces">
                </form>
            </div>
            <!-- social box -->
            <div class="header-social-wrap">
                <div class="header-social-link">
                    <a href="#"><img src="image/header/ico_fb.png" alt="facebook"></a>
                    <a href="#"><img src="image/header/ico_instagram.png" alt="instagram"></a>
                    <a href="#"><img src="image/header/ico_twitter.png" alt="twitter"></a>
                    <a href="#"><img src="image/header/ico_youtube.png" alt="youtube"></a>
                    <a href="#"><img src="image/header/ico_pinterest.png" alt="pinterest"></a>
                    <a href="#"><img src="image/header/ico_google.png" alt="google"></a>
                </div>
            </div>
        </div>

    </header>

    <section class="main-content count">
        <div class="content-wrap">
            <!-- marketing images  -->
            <div class="marketing-img">
            </div>
            <!-- marketing title  -->
            <div class="marketing-title">
                <h2 class="paytone-one">MARKETING</h2>
                <span class="spaser"> &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; &mdash;
                    &mdash; &mdash; &mdash; &mdash; &mdash; &mdash; </span>
                <img src="image/marketing/chat.png" alt="Chat" class="chat">
                <button class="btn segoe"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Start a
                    thread</button>
            </div>
            <div class="count-wrap">
                <div class="count-card-wrap">
                    <div class="count-card-content">
                        <img src="image/marketing/count-1.png" alt="count 1">
                    </div>
                    <div class="count-card-content">
                        <img src="image/marketing/count-2.png" alt="count 2">
                    </div>
                </div>
                <div class="count-text-wrap">
                    <div class="count-text">
                        <h4 class="segoe">Start a thread</h4>
                        <p class="segoe">Technology tre>Technology trends have the potential to drive significant disruption and deliver significant opportunity. Digital trends such as autonomous things, blockchain, digital twins and smart spaces are rapidly approaching
                            maturity.
                        </p>
                    </div>
                    <div class="count-text">
                        <h4 class="segoe">Mark the decision</h4>
                        <p class="segoe">This continuous technology innovation will enable the alignment of the physical and digital worlds and create competitive advantage for some. Are you ready?</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="brends">
        <div class="content-wrap">
            <div class="brends-img">
                <img src="image/brends/glosser.png" alt="Glosser">
                <img src="image/brends/aspire.png" alt="Aspire">
                <img src="image/brends/nylas.png" alt="Nylas">
                <img src="image/brends/bitwise.png" alt="Bitwise">
            </div>
            <div class="brends-content-wrap">
                <div class="brends-content">
                    <div class="brends-content-img">
                        <img src="image/brends/ava-1.png" alt="avatar" class="avatar">
                        <img src="image/brends/symmetric.png" alt="symmetric" class="breds-logo">
                    </div>
                    <p class="segoe">The AMA’s definitions of marketing and marketing research are reviewed and reapproved/modified every three-years by a panel of five scholars who are active researchers.
                    </p>
                </div>
                <div class="brends-content">
                    <div class="brends-content-img">
                        <img src="image/brends/ava-2.png" alt="avatar" class="avatar">
                        <img src="image/brends/digital.png" alt="digital" class="breds-logo">
                    </div>
                    <p class="segoe">Marketing is the activity, set of institutions, and processes for creating, communicating, delivering, and exchanging offerings that have value for customers, clients, partners, and society at large. </p>
                </div>
                <div class="brends-content">
                    <div class="brends-content-img">
                        <img src="image/brends/ava-3.png" alt="avatar" class="avatar">
                        <img src="image/brends/envie.png" alt="envie" class="breds-logo">
                    </div>
                    <p class="segoe">A brand is a name, term, design, symbol or any other feature that identifies one seller’s good or service as distinct from those of other sellers.</p>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footer-ellipse"></div>
        <div class="footer-wrap">
            <a class="footer-logo paytone-one hover-link">ALPINE</a>

            <ul>
                <li class="segoe">EXPLORE</li>
                <li><a href="#" class="hover-link">Pricing</a></li>
                <li><a href="#" class="hover-link">Mobile</a></li>
            </ul>

            <ul>
                <li class="segoe">RECOURCES</li>
                <li><a href="" class="hover-link">Blog</a></li>
            </ul>

            <ul>
                <li class="segoe">Company</li>
                <li><a href="#" class="hover-link">About us</a></li>
                <li><a href="#" class="hover-link">Contact</a></li>
            </ul>

            <ul>
                <li>
                    <ul class="footer-social" style="padding: 0 0 11px;">
                        <li>
                            <a href="#" class="hover-link"><i class="fa fa-vk" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#" class="hover-link"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#" class="hover-link"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </li>
                <li>Terms & Privacy</li>
                <li> © 2021 onjjje Group inc.</li>
            </ul>
        </div>
    </footer>

</body>

</html>