* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    overflow: hidden;
    background: coral;
}

nav {
    background: coral;
    width: 200px;
    float: left;
}

nav ul {
    /* padding: 22px; */
    margin: 22px;
}

nav ul span {
    margin: 12px;
    font-weight: bold;
}

header h2,
footer h2 {
    color: blue;
    text-transform: uppercase;
    background: rgb(0, 238, 255);
    padding: 12px 0 12px 0;
    text-align: center;
}

.content {
    background: url('/IT-Academy-Task/HTML_CSS_7/base/MAKET_ADAPT/img/ball3.png') top right repeat-y white;
    margin-left: 200px;
}

.content h3 {
    color: #000000;
    text-transform: uppercase;
    padding: 12px 0 12px 0;
    text-align: center;
}

.content .content_img {
    float: left;
}

footer {
    clear: both;
}

p.content_disrc,
img.content_img {
    padding: 0 10px;
}

.hide-desc {
    display: none;
}

@media all and (max-width: 560px) and (min-width: 320px) {
    nav {
        width: 100%;
        text-align: center;
    }
    li {
        list-style-type: none;
    }
    .content {
        margin: 0;
    }
    .content .content_img {
        display: block;
        margin: 0 auto;
        width: 100%;
        height: auto;
    }
}

@media all and (max-width: 319px) {
    .old_dev {
        display: none;
    }
    .hide-desc {
        padding-top: 150px;
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    .hide-desc img {
        width: 100%;
        height: auto;
    }
}